.splash {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.mapOverlays {
  position: absolute;
  z-index: 1;
}

.manifest {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 0 28px;
  overflow: auto;
}

.manifestText {
  text-align: justify;
}

.manifestControls {
  padding: 28px 0;
  display: flex;
}

.manifestControls *:not(:first-child) {
  margin-left: 10px;
}

.mapControls {
  position: relative;
  top: 10px;
  left: 48px;
  display: flex;
  flex-direction: column;
}

.mapControls *:not(:first-child) {
  margin-top: 10px;
}
